.panelOpen{
    right: 0px !important;
}
.panel {
    top:0;
    z-index: 100;
    right: -400px;
    transition: right 0.5s;
    opacity: 1;
    display: flex;
    position: fixed;
    height: 100%;
    width: 400px;
    background-color: #B3BEDC;
}

li {
    list-style-type: none;
    width: 80%;

}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    margin: 10px;
}

.MuiFormControl-root {
    width: 100%;
}
.searchContainer {
    width: 30%;
    margin: 10px;
}

.content {
    width: 100%;
    height: fit-content;
    min-height: 100%;
}
html, body, #root, .App, .App-header, .listParent {
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


.contactList {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.contactListItem {
    background-color: #B3BEDC;
    border-radius: 10px;
    margin: 1%;
    width: 40%;
    height: 150px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.4s linear;
    position: relative;
}


.contactListItem:hover {
    background-color: #2D8E6A;

}
.contactListContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    position: absolute !important;
    right: 10px;
    bottom: 10px;
}
.topBar {
    display: flex;
    width: 100%;
    vertical-align: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.create {
    height: fit-content;
    margin-top: 10px !important;
}
