.panelOpen{
    right: 0px !important;
}
.panel {
    top:0;
    z-index: 100;
    right: -200px;
    transition: right 0.5s;
    opacity: 1;
    display: flex;
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: red;
}

li {
    list-style-type: none;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100%;
}
html, body, #root, .App, .App-header, .listParent {
    height: 100%;
}